<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

  <!-- Add Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-1c7i+8DmQnIvRjoFJfT++TzUFCRUJX9abZzNGd0Utxe6hSZq3p3Sn0LKV1GM+91M" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- Add OSM JS -->
  <script src="https://openlayers.org/en/v6.6.1/build/ol.js"></script>
  <!-- Add WebSocket script -->
  <script src="/websocket-client.js"></script>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="padding: 0px">
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <li class="navbar-brand" href="#">VP1</li>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" href="/">
            <div>
              <i class="fa-solid fa-house"></i>
            </div>
            Domov
          </a>
        </li>
        {{#if session.userId}}
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" href="/user/profile">
            <div>
              <i class="fa-solid fa-user"></i>
            </div>
            Profil
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-disabled="true" href="/user/logout">
            <div>
              <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            Odjava
          </a>
        </li>
        {{else}}
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-disabled="true" href="/user/login">
            <div>
              <i class="fa-solid fa-right-to-bracket"></i>
            </div>
            Prijava
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-disabled="true" href="/user/register">
            <div>
              <i class="fa-solid fa-user-plus"></i>
            </div>
            Registracija
          </a>
        </li>

        {{/if}}
      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div style="padding: 50px">
  {{{body}}}
</div>
</body>

</html>