<h1>Prijava</h1>
<form action="login" method="post" class="mb-3">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="Uporabniško ime" required>
        <label for="username">Uporabniško ime</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Geslo" required>
        <label for="password">Geslo</label>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Prijava</button>
    </div>
</form>