<h1>Registracija</h1>
<form action="/user" method="post">
    <input type="text" name="email" placeholder="E-mail" required="">
    <input type="text" name="username" placeholder="Username" required="">
    <input type="password" name="password" placeholder="Password" required="">

    <input type="submit" value="REGISTER">
</form>
