body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 500px;
  /* Adjust the height as per your requirement */
  width: 100%;
  /* Adjust the width as per your requirement */
}

.carRides-table {
  border-collapse: collapse;
  width: 100%;
}

.carRides-table th,
.carRides-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.carRides-table th {
  background-color: #f2f2f2;
}

.no-carRides {
  margin-top: 20px;
  font-style: italic;
}

.carRide-button {
  margin-top: 20px;
}
