body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 500px;
  /* Adjust the height as per your requirement */
  width: 100%;
  /* Adjust the width as per your requirement */
}
